<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>MEIS Events</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="dashboard">

    <img src="{{ url_for('static', filename='images/logo.jpg') }}"
         class="page-logo">

    <h1>📅 Upcoming Events</h1>

    <p class="dashboard-subtitle">

        Stay updated with upcoming activities at
        Muhammadan Educational Institute of Science.

    </p>

    <div class="dashboard-card">
        {% if events %}

    {% for event in events %}

    <div class="dashboard-card">

        <h3>📅 {{ event.title }}</h3>

        <p><strong>Date:</strong> {{ event.date }}</p>

        <p>{{ event.description }}</p>

    </div>

    {% endfor %}

{% else %}

    <div class="dashboard-card">

        <h3>No Events Yet</h3>

        <p>The Principal has not added any events.</p>

    </div>

{% endif %}
        


    <a href="{{ url_for('home') }}" class="logout-btn">

        ← Back to Home

    </a>

</div>

</body>

</html>